- content_for :head do
  %meta{:"http-equiv" => "refresh", :content => "5"}
  %script{:src => 'http://www.google.com/jsapi'}
.row
  .span7
    %table.table.log_events.table-bordered.table-condensed

      - @relevant_log_lines.each do |log_line|
        - if event = log_line.event
          - event = event.decorate
          - if event.is_a? TF2LineParser::Events::Kill
            - if ["knife", "sniperrifle", "awper_hand", "blutsauger", "proto_syringe", "ubersaw", "crusaders_crossbow"].include? event.weapon
              %tr{:class => event.table_class}
                -#%td= I18n.l(log_line.time, :format => :time)
                %td= event.time
                %td= event.text.html_safe
          - else
            %tr{:class => event.table_class}
              -#%td= I18n.l(log_line.time, :format => :time)
              %td= event.time
              %td= event.text.html_safe

